@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&display=swap");

.forgotpassword {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 160px 80px 160px;
  gap: 32px;
}

.forgetpassword-container {
  text-align: center;
}
.forget {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
}

.forgotpassword-send {
  outline: none;
  border: none;
  margin-top: 10px;
  background-color: #fb8500;
  padding: 12px 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  width: 100%;
}
.forgotpassword-send:hover {
  outline: none;
  border: none;
  margin-top: 10px;
  background-color: #d4c7b8;
  padding: 12px 0;
  border-radius: 6px;
  color: #000000;
  font-weight: 600;
  width: 100%;
}
.redirect-login {
  background-color: rgb(230, 220, 220);
  color: #000;
  width: 136px;
  height: 42px;
  padding: 8px 16px 10px 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}

.redirect-login:hover {
  background-color: #fb8500;
  color: #ffffff;
  width: 136px;
  height: 42px;
  padding: 8px 16px 10px 16px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.holders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 434px;
}
